{% extends "layout.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Login | {{ block.super }}{% endblock %}
{% block content %}
    <style>
        body{
            padding-top: 0;
            margin-top: 0;
        }
    </style>
    <div class="grids_of_3" style="margin-top: 8%; padding-bottom: 5.5%;">
		<div class="grid1_of_3_2">
			<div class="btn_style bg">
				<h4>login</h4>
			</div>
            {% block css %}
                <link rel="stylesheet" href="{% static 'css/regForm.css' %}">
            {% endblock %}
				<form action="" method="POST" class="login_form">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input type="submit" value="Login" class="center-block btn btn-primary btn-lg">
            </form>
				<ul class="login_b">
					<li><i class="border"></i><p>or</p><i class="border"></i></li>
				</ul>
			<div class="soc_icons">
                <div> <h2>Don't have an account?</h2><a href="{% url 'users:signup' %}">SignUp Now! </a> </div>
			</div>
		</div>
    </div>
{% endblock %}